.nav{
    min-height: 60px;
}
.navbar-brand {
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
}
.nav-item {
    line-height: 50px;
}

#insideRow {
    margin-bottom: 3rem;
}
#cardTitle {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    background-color: #eeeeee;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
}

a:link {
    color: #626161;
} 
a:visited {
    color: #626161;
} 
a:hover {
    color: #ffffff;
}
a:active {
    color: lightblue;
} 

@media (min-width: 768px) {
    #bodyMain{
        width: 40rem;
        margin-left: 4.5rem;
    }
}